flask
gunicorn
urllib3
pillow==6.0.0
munch
numpy
pandas
pretrainedmodels
six
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
torchvision==0.2.1
dlib
opencv-python
opencv-contrib-python
opencv-contrib-python-headless
